<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88121706650-tdp97r0n3pgb28jkpgn99jl6lc5is4po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88121706650-tdp97r0n3pgb28jkpgn99jl6lc5is4po</string>
	<key>API_KEY</key>
	<string>AIzaSyAomZwqv1c3cqY1Tu65-HPqrUJxJkCnobM</string>
	<key>GCM_SENDER_ID</key>
	<string>88121706650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.test</string>
	<key>PROJECT_ID</key>
	<string>talkswithmoses-7f14c</string>
	<key>STORAGE_BUCKET</key>
	<string>talkswithmoses-7f14c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88121706650:ios:ea8021b03d1e5a63983723</string>
</dict>
</plist>